<h5>Post a Comment</h5>

<div class="newCommentSection">
  <%= form_for [ @article, @comment ] do |f| %>
    <p>
      <%= f.text_field :author_name, class: "width80", placeholder: "Your name..."%>
    </p>
    <p>
      <%= f.text_area :body, class: "width80 commentText", placeholder: "Your comment..." %>
    </p>
    <p>
      <%= f.submit 'Submit', class: "button-primary" %>
    </p>
  <% end %>
</div>
