<div class="eachComment container">
  <div class="inlineFloat authorName "><%= comment.author_name %></div>
  <div class="timePosted">Posted <%= distance_of_time_in_words(comment.article.created_at, comment.created_at) %> later</div>
  <p class="comment"><%= comment.body %></p>
  <hr />
</div>
