<div class="cover_image">
  <div class = "image">
    <%= image_tag("certification-lamp.svg", :alt => "Blog Title Background", :class => "image") %>
  </div>
  <p>Developer Blog<span>  Powered by Rails</span></p>
  <div id="Creator">created by: Ben Brewer</div>
</div>

<div class="container">

  <div class="header">
    <h1>All Articles</h1>
  </div>
  <hr>
  <% if logged_in? %>
    <div class="centered">
      <%= link_to "Create a New Article", new_article_path, class: "button button-primary"%>
    </div>
  <% end %>
  </br>


  <ul id="articles">
    <% @articles.each do |article| %>
      <li>
        <%= link_to article.title, article_path(article), class: "black_link",
        class: 'article_title', id: "article_#{article.id}" %>
      </li>
    <% end %>
  </ul>
</div>
