<div id="show" class="container centered ">
  <div class="clear_navbar"></div>

  <h1>Edit Author</h1>

  <%= render 'form', author: @author %>

  <button><%= link_to 'Show', @author, class: "black_link" %></button>
  <%= link_to 'Back', authors_path, class: "button button-primary" %>
</div>
