<div id="show" class="container centered ">
  <div class="clear_navbar"></div>

  <h1>New Admin</h1>

  <%= render 'form', author: @author %>

  <%= link_to 'Back', authors_path, class: "button button-primary" %>
</div>
