<div id="tagsIndex" class="container centered">
  <div class="clear_navbar"></div>

  <h1>All Tags</h1><br/>

  <div class="tag">
    <% @tag.each do |tag| %>
        <button><%= link_to tag.name, tag_path(tag), class: "black_link" %></button>
    <% end %>
  </div>
  <br/><br/>
  <%= link_to "Back to Articles", articles_path, class: "button button-primary"%>
</div>
