<div id="tagsShow" class="container centered">
  <div class="clear_navbar"></div>

	<h3>Articles tagged with "<%= @tag.name.titleize %>"</h3>

	<ul>
		<% @tag.articles.each do |article| %>
			<li><%= link_to article.title, article_path(article), class: "black_link" %></li>
		<% end %>

		<% if logged_in? %>
			<code><%= link_to "Delete '#{@tag.name}' tag", tag_path(@tag), method: :delete , data: {confirm: "Do you really want to delete this tag?"} %></code><br/>

		<% end %>
		<br/><br/>
		<%= link_to 'Back to Tags', tags_path, class: "button button-primary" %>
	</ul>
</div>
