body{
  background-color: #ecf0f1;
}

// sizing text boxes
.width80 {
  width: 80%;
}
.widthShortInfo{
  width: 300px;
}
.widthBigInfo{
  width: 80%;
  height: 200px;
}

//Appear inline
.inlineFloat{
  display: block;
  position: relative;
  float: left;
}

.black_link{
  text-decoration: none;
  color: black;
}

//center content
.centered{
  text-align: center;
  margin: 0 auto;
  display: block;
}

// Updates sent to user
.flash{
  position: absolute;
  z-index: 2;
}

//Fixed navbar on app
.navbar{
  width: 100%;
  position: fixed;
  background-color: #00E5FF;
  // background-color: black;
  z-index: 1;
}
.navbar-item{
  display: block;
  position: relative;
  float: right;
  text-align: -webkit-match-parent;
  padding: 8px 20px;
  font-size: 16px;
}
.navbar-item span{
  font-size: 16px;
}
// Space below navigation bar
.clear_navbar{
  padding-top: 75px;
}
