// $primary_color: #bdc3c7;
//
// body {
//   background-color: $primary_color;
//   font: {
//     family: Verdana, Helvetica, Arial;
//     size: 14px;
//   }
// }
//
// a {
//   color: #0000FF;
//   img {
//     border: none;
//   }
// }
//
// .clear {
//   clear: both;
//   height: 0;
//   overflow: hidden;
// }
//
// #container {
//   width: 75%;
//   margin: 0 auto;
//   background: #fff;
//   padding: 20px 40px;
//   border: solid 1px black;
//   margin-top: 20px;
// }
//
// #content {
//   clear: both;
//   padding-top: 20px;
// }

// for testing, delete later
.showBox{
  border: box;
  border-style: dotted;
}

body{
  background-color: #ecf0f1;
}

.width80 {
  width: 80%;
}

.inlineFloat{
  display: block;
  position: relative;
  float: left;
}

.flash{
  position: absolute;
  z-index: 2;
}

.black_link{
  text-decoration: none;
  color: black;
}

.centered{
  text-align: center;
  margin: 0 auto;
  display: block;
}

.navbar{
  width: 100%;
  position: fixed;
  background-color: #00E5FF;
  // background-color: black;
  z-index: 1;
}
.navbar-item{
  display: block;
  position: relative;
  float: right;
  text-align: -webkit-match-parent;
  padding: 8px 15px;
  font-size: 16px;
}
.navbar-item span{
  font-size: 16px;
}
.clear_navbar{
  padding-top: 75px;
}
